<md-content layout-padding layout-margin >
   <form name = '$ctrl.form' >
      <div layout = 'row' >
         <md-input-container class = 'md-block' >
            <label>Date 1</label>
            <input type = 'text' ng-model = '$ctrl.mcdates.inputDate1' ng-change = '$ctrl.changeDate( 11 )' md-min-date = 'minDate' ui-mask = '99.99.9999' placeholder = '01.01.2000' ng-pattern = '/^[0-9]{2}\.[0-9]{2}\.[0-9]{4}$/' >
            <div ng-messages = '$ctrl.form.inputDate1.$error' >
               <div ng-message = 'mindate' >Date 1 can't be less than current date</div>
               <div ng-message = 'required' >Required</div>
            </div>
         </md-input-container>
         <md-input-container>
            <label>Enter date 1</label>
            <md-datepicker ng-model = '$ctrl.mcdates.date1' md-open-on-focus ng-change = '$ctrl.changeDate( 12 )' ></md-datepicker>
         </md-input-container>
      </div>

      <div layout = 'row' >
         <md-input-container class = 'md-block' >
            <label>Date 2</label>
            <input type = 'text' ng-model = '$ctrl.mcdates.inputDate2' ng-change = '$ctrl.changeDate( 21 )' md-min-date = 'minDate' ui-mask = '99.99.9999' placeholder = '..........' ng-pattern = '/^[0-9]{2}\.[0-9]{2}\.[0-9]{4}$/' >
            <div ng-messages = '$ctrl.mcdates.inputDate2.$error' >
               <div ng-message = 'mindate' >Date 2 can't be greater than date 1</div>
               <div ng-message = 'required' >Required</div>
            </div>
         </md-input-container>
         <md-input-container>
            <label>Enter date 2</label>
            <md-datepicker ng-model = '$ctrl.mcdates.date2' md-open-on-focus ng-change = '$ctrl.changeDate( 22 )' ></md-datepicker>
         </md-input-container>
      </div>
   </form>
</md-content>
