<md-content layout-padding layout-margin >
  <div layout = 'row' >
    <md-input-container class = 'md-block' >
      <label>Date 1</label>
      <input type = 'text' ng-model = '$ctrl.mcdates.inputDate1' ng-change = '$ctrl.changeDate()' md-min-date = 'minDate' ui-mask = '99.99.9999' placeholder = '01.01.2000' ng-pattern = '/^[0-9]{2}\.[0-9]{2}\.[0-9]{4}$/' >
    </md-input-container>
    <md-input-container>
      <label>Enter date 1</label>
      <md-datepicker ng-model = '$ctrl.mcdates.date1' md-open-on-focus ></md-datepicker>
    </md-input-container>
  </div>

  <div layout = 'row' >
    <md-input-container class = 'md-block' >
      <label>Date 2</label>
      <input type = 'text' ng-model = '$ctrl.mcdates.inputDate2' ng-change = '$ctrl.changeDate()' md-min-date = 'minDate' ui-mask = '99.99.9999' placeholder = '01.01.2000' ng-pattern = '/^[0-9]{2}\.[0-9]{2}\.[0-9]{4}$/' >
    </md-input-container>
    <md-input-container>
      <label>Enter date 2</label>
      <md-datepicker ng-model = '$ctrl.mcdates.date2' md-open-on-focus ></md-datepicker>
    </md-input-container>
  </div>
</md-content>

